/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: Mon;
    /* background-color: #153448; */
    background-color: #948979;
    color:white;
    flex:1;
}
main {
    flex: 1; /* Permite que el contenido principal se expanda */
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

.navbar-index{
    margin: 0;
    padding: 0;
    
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #4a4d4f;  
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo-nav{height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #DFD0B8;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #390e8c; violeta*/
    /* background-color: #4a4d4f;   */
    background-color: #948979;
    /* background-color: #DFD0B8; */ 
    
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ab9d86;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /* border-collapse: collapse; */
}
/* Estilos para el encabezado de la tabla */
table thead {
    background-color:  #878176;
    color: #DFD0B8;
}

table th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #948979;
    font-weight: bold;
    font-size: 1.1em;
    border-right: 1 px solid #4a4d4f;
}

table th:first-child {
    border-top-left-radius: 5px;
}

table th:last-child {
    border-top-right-radius: 5px;
    /* border-right:none ; */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #878176;
    color: #d7d6dc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

a:hover {
    background-color: #4a4d4f;
    color:#e0dbdb
}


